<ion-header>
  <ion-navbar>
    <button  ion-button  menuToggle *ngIf="repo">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalhes Repositorio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content> 
  <div *ngIf="repo">
    <h1 text-center>
      <a ion-button outline  [href]="repo.html_url" target="_blank" >
        {{repo.name}}
      </a>
    </h1>
    <p text-center>
      <ion-badge item-end>
        {{repo.stargazers_count}}
        <ion-icon name="star"></ion-icon>
      </ion-badge>
    </p>
    <h3 text-center>
      {{repo.language}}
    </h3>
    <ion-card>
        <ion-card-content>
          {{repo.description}}  
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>
